<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-divae-location-manager" >
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.title" />
		</td>
		<td>
		{job.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.type" />
		</td>
		<td>
		{job.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.position" />
		</td>
		<td>
		{job.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.duration" />
		</td>
		<td>
		{job.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.department" />
		</td>
		<td>
		{job.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.publication_date" />
		</td>
		<td>
		{job.publicationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.task_headline" />
		</td>
		<td>
		{job.taskHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.task_text" />
		</td>
		<td>
		{job.taskText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.employer_headline" />
		</td>
		<td>
		{job.employerHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.employer_text" />
		</td>
		<td>
		{job.employerText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.workplace_headline" />
		</td>
		<td>
		{job.workplaceHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.workplace_text" />
		</td>
		<td>
		{job.workplaceText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.requirement_headline" />
		</td>
		<td>
		{job.requirementHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.requirement_text" />
		</td>
		<td>
		{job.requirementText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.process_headline" />
		</td>
		<td>
		{job.processHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.process_text" />
		</td>
		<td>
		{job.processText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.contact_headline" />
		</td>
		<td>
		{job.contactHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.contact_text" />
		</td>
		<td>
		{job.contactText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.job_number" />
		</td>
		<td>
		{job.jobNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.form_link" />
		</td>
		<td>
		{job.formLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_job.state" />
		</td>
		<td>
		{job.state}
		</td>
	</tr>
</table>
</html>