<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:for each="{objects}" as="object">
    <div class="slide-item">
        <!-- article thumbnails -->
        <a href="#" class="box-item same-height-left" style="height: 296px;">
            <div class="top-holder">
                <strong class="label-item"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:service.partner" /></strong>
                <div class="img-holder">
                    <f:for each="{object.pics}" as="image">
                        <f:image src="{image.uid}" treatIdAsReference="1" />
                    </f:for>
                </div>
                <p>{object.title}</p>
            </div>
            <div class="bottom-holder">
                <div class="more-box">
                    <span class="read-more"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:service.detail" /></span>
                </div>
            </div>
        </a>
    </div>
</f:for>
</html>