<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-divae-location-manager" >
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.name" />
		</td>
		<td>
		{location.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.zip" />
		</td>
		<td>
		{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.street" />
		</td>
		<td>
		{location.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.latitude" />
		</td>
		<td>
		{location.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.longitude" />
		</td>
		<td>
		{location.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.tel" />
		</td>
		<td>
		{location.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.fax" />
		</td>
		<td>
		{location.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_divaelocationmanager_domain_model_location.email" />
		</td>
		<td>
		{location.email}
		</td>
	</tr>
</table>
</html>