<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="default" />
<f:section name="main">

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.credential-link').click(function(){
                var url = jQuery(this).data('url');
                var opener =  jQuery('#open-reference-'+$(this).data('id'));
                var html = jQuery.trim(jQuery(opener).html());
                <f:if condition="{singleReference}">
                    if(jQuery('.load-more-btn').css('display') != 'none'){
                        initIsotope();
                        jQuery('.load-more-btn').click();
                    }
                </f:if>

                if(html == '')
                {
                    jQuery.ajax({
                        method: "POST",
                        url : url + '&no_cache=1',
                    }).done(function(data){
                        jQuery(opener).html(data);

                        initPopups();

                        jQuery('body').addClass('popup-visible');
                        jQuery(opener).parent().css('display', 'block');

                    });
                }else{
                    jQuery('body').addClass('popup-visible');
                    jQuery(opener).parent().css('display', 'block');
                }
            });

            <f:if condition="{singleReference}">
                    jQuery('#reference-{singleReference}').click();
            </f:if>
        });

    </script>
    <section class="credential-block" id="credential-section">
        <!--TYPO3SEARCH_end-->
        <div class="container">
            <div class="heading-lg white-line invert-line">
                <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:references"></f:translate></h1>
            </div>
            <strong class="sub-heading-lg"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:references.subtitle"></f:translate></strong>
        </div>


        <div class="filters-top-box">
            <div class="container">
                <div class="secondary-filters filter-nav-box">
                    <a href="#" class="opener"></a>
                    <div class="filter-slide">
                        <!-- filter-menu -->
                        <ul class="filter-brands filter-nav">
                            <li class="active"><a href="#" data-filter="*">Alle</a></li>
                            <f:for each="{categories}" as="category" key="key">
                                <li><a href="#" data-filter=".category{key}">{category}</a></li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--TYPO3SEARCH_begin-->
        <div class="container">
            <div class="add-grid-holder">
                <div class="hidden-box">

                    <f:for each="{references}" as="reference">
                        
                        <div class="credential-link-box grid-item
                        <f:for each='{reference.categories}' as='category'>
                        category{category.uid}
                        </f:for>
                        popup-holder">
                            <!--TYPO3SEARCH_end-->
                        <a href="javascript:void(0)" class="credential-link
                         <f:if condition="{singleReference} == {reference.uid}">
                            popup-holder
                         </f:if>
                        " data-url="<f:uri.action action='showReference' controller='Ajax' arguments='{object:reference}' pageType="99" noCacheHash="1"/>" id="reference-{reference.uid}" data-id='{reference.uid}' data-detail="<f:uri.action controller='Index' action='references' pluginName='Reference' arguments='{reference:"{reference.uid}"}'/>">
                            <div class="logo-holder">
                                <f:for each="{reference.defaultpic}" as="image" iteration="iterator">
                                        <f:image src="{image.uid}" treatIdAsReference="1"  class="logo-start" title="{image.description}"/>
                                </f:for>

                                <f:for each="{reference.hoverpic}" as="image" iteration="iterator">
                                        <f:image src="{image.uid}" treatIdAsReference="1"  class="logo-hover" title="{image.description}"/>
                                </f:for>

                            </div>
                            <strong class="credential-title">{reference.title}</strong>
                        </a>
                            <!--TYPO3SEARCH_begin-->
                        <div class="popup">
                            <div class="popup-intro" id="open-reference-{reference.uid}">
                                <f:if condition="singleReference">
                                    <f:if condition="{singleReference} == {reference.uid}">
                                    <n:format.nothing>
                                        <n:titleTag>
                                            <f:format.htmlentitiesDecode>{reference.title}</f:format.htmlentitiesDecode>
                                        </n:titleTag>
                                    </n:format.nothing>
                                        <!--TYPO3SEARCH_end-->
                                        <!--TYPO3SEARCH_begin-->
                                    <div class="container">
                                        <a href="#" class="close"><span></span></a>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">

                                            <div class="popup-heading">
                                                <a href="#" style="margin-bottom:20px">
                                                    <f:for each="{reference.hoverpic}" as="image" iteration="iterator">
                                                        <f:image src="{image.uid}" treatIdAsReference="1" alt="{image.description}" height="50px"/>
                                                    </f:for>
                                                </a>
                                            </div>
                                            <div class="content-info">
                                                <div class="heading-xl">
                                                    <h1>{reference.title}</h1>
                                                </div>
                                                <div class="content-popup-lg">
                                                    <f:format.raw>{reference.shortdescription}</f:format.raw>
                                                </div>
                                                <f:if condition="{reference.detailpic}">
                                                    <div class="image-holder">
                                                        <f:for each="{reference.detailpic}" as="image" iteration="iterator">
                                                            <f:image src="{image.uid}" treatIdAsReference="1" alt="{image.description}" width="351"/>
                                                        </f:for>
                                                    </div>
                                                </f:if>
                                                <f:if condition="{reference.link}">
                                                    <div class="partner-link-box">
                                                        <a href="{reference.link}" class="partner-link" target="_blank">{reference.link}</a>
                                                    </div>
                                                </f:if>
                                                <f:format.raw>{reference.description}</f:format.raw>
                                                <hr class="line-lg visible-xs">
                                            </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <aside class="popup-sidebar">
                                                    <div class="widget-holder">
                                                        <f:if condition="{reference.tags}">
                                                            <div class="widget-box">
                                                                <div class="heading-sm">
                                                                    <strong class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:reference.service"></f:translate></strong>
                                                                </div>
                                                                <f:render partial="Tags/Item" arguments="{tags: reference.tags}" />
                                                            </div>
                                                        </f:if>
                                                        <div class="widget-box no-border">
                                                            <div class="heading-sm">
                                                                <strong class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:news.college"></f:translate></strong>
                                                            </div>
                                                            <f:for each="{reference.colleges}" as="college">
                                                                <div class="personal-info">
                                                                    <div class="foto-box">
                                                                        <img src="/uploads/pics/{college.firstImage}" alt="{college.name}" width="152" height="152">
                                                                    </div>
                                                                    <div class="description-box">
                                                                        <strong class="name"><a href="#">{college.name}</a></strong>
                                                                        <span class="position">{college.position}</span>
                                                                        <hr class="line-sm">
                                                                        <ul class="contact-items">
                                                                            <f:if condition="{college.telephone}">
                                                                            <li>
                                                                                <a href="tel:<t:phone phone='{college.telephone}'></t:phone>" class="tel">+{college.telephone}</a>
                                                                            </li>
                                                                            </f:if>
                                                                            <li>
                                                                                <a href="mailto:{college.email}" class="email">{college.email}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </f:for>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>
                                        <div class="popup-footer">
                                            <a href="#" class="close"><span class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:close"></f:translate></span></a>
                                        </div>
                                    </div>
                                        <!--TYPO3SEARCH_end-->
                                        <!--TYPO3SEARCH_begin-->
                                    </f:if>
                                </f:if>
                            </div>
                        </div>
                    </div>
                    </f:for>
                </div>
                <div class="row filter-grid"></div>
                <div class="load-more-box">
                    <a href="#" class="btn btn-neg load-more-btn">Mehr Referenzen</a>
                </div>

            </div>
        </div>
        </section>
</f:section>
</html>
