<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
{namespace t = Divae\TagsFilter\ViewHelpers}
<f:layout name="default" />
<f:section name="main">
    <!--<script type="text/javascript">
        $(document).ready(function(){
            var sections = $('section');
            var i;
            var subNavigation = '';
            for(i = 0 ; i < sections.length; i++){
                if($(sections[i]).attr('id') != undefined){
                    subNavigation += "<li><a href='#"+$(sections[i]).attr('id')+"'> "+$(sections[i]).find('h1').html()+"</a></li>";
                }
            }
            $('.sub-nav').html(subNavigation);
        });
    </script>-->
    <style type="text/css">
        .bg-gray:hover{
            background: #009fe3;
            color:white
        }
        .bg-gray{
            color:#000
        }

        .bg-gray:hover .heading-md:before {
            background:white;
        }

        .bg-gray:hover .custom-list li:before{
            color:white;
        }

    </style>
    <n:metaTag name="keywords" content="{service.keywords}" />
    <n:format.nothing>
                <n:titleTag>
                    <f:format.htmlentitiesDecode>{service.title}</f:format.htmlentitiesDecode>
                </n:titleTag>
    </n:format.nothing>

    <div class="sub-nav-box hidden-xs">
        <div class="container">
            <ul class="sub-nav">

            </ul>
        </div>
    </div>
    <div class="container  content-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div id="content" class="content-info">
                    <section class="commerce-section" id="commerce-section">
                        <div class="heading-lg"><h1>{service.title}</h1></div>
                        <div class="content-lg"> <f:format.html>{service.shortdescription}</f:format.html></div>
                        <div class="image-holder"> <f:image src="{service.pics.uid}" treatIdAsReference="1" width="768"/></div>
                        <f:format.html>{service.description}</f:format.html>
                    </section>
                    <hr class="line-lg">
                    <f:if condition="{service.advantages}">
                        <section class="privileges-section" id="privileges-section">
                            <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:service.advantages"></f:translate></h1>
                            <div class="three-columns">
                                <div class="row">
                                    <f:for each="{service.advantages}" as="advantage" iteration="i">
                                            <div class="col-xs-6 col-sm-4 viewport-box time-delay{i.cycle} in-viewport">

                                                <a href="#" class="solutions-item">
                                                    <div class="img-holder">
                                                        <f:for each="{advantage.pics}" as="image">
                                                            <f:image src="{image.uid}" treatIdAsReference="1" />
                                                        </f:for>
                                                    </div>
                                                    <span class="title">{advantage.title}</span>
                                                    <p>{advantage.description}</p>
                                                </a>
                                            </div>
                                    </f:for>
                                </div>
                            </div>
                        </section>
                        <hr class="line-lg">
                    </f:if>
                    <f:if condition="{service.ordering} == 1">
                        <f:if condition="{items -> f:count()} >= 1">
                            <!--TYPO3SEARCH_end-->
                            <section id="more-info-section" class="more-info-section">
                                <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:services.more"></f:translate></h1>
                                <div class="cycle-gallery">
                                    <div class="cycle-gallery-holder">
                                        <div class="mask">
                                            <div class="slideset gallery-more-box">

                                                <f:for each="{items}" as="item">
                                                    <f:render partial="{item.0}/Item" arguments="{objects: item.1, category: item.2}" />
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination"></div>
                                </div>
                            </section>
                            <!--TYPO3SEARCH_begin-->
                            <hr class="line-lg">
                        </f:if>
                    </f:if>
                    <f:if condition="{service.ordering} == 0">
                    <f:if condition="{services -> f:count()} > 1 ">
                        <!--TYPO3SEARCH_end-->
                        <section id="services-section" class="services-section">
                            <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:services.service"></f:translate> "{category.0.title}"</h1>
                            <div class="content-lg">
                                <p>{service.label}</p>
                            </div>
                            <div class="row">
                                <f:for each="{services}" as="object" iteration="i">
                                    <f:if condition="{object.uid} != {service.uid}">
                                    <div class="col-xs-12 col-sm-6 viewport-box time-delay{i.cycle} in-viewport">
                                        <f:link.action  arguments="{service: object}" action="showService">
                                            <article class="option-item  section-active bg-gray">
                                                <div class="service-item">
                                                    <div class="heading-md">
                                                        <h3>{object.title}</h3>
                                                    </div>
                                                    <ul class="custom-list">
                                                        <f:for each="{object.teaser}" as="teaser">
                                                            <li>{teaser}</li>
                                                        </f:for>
                                                    </ul>
                                                </div>
                                            </article>
                                        </f:link.action>
                                    </div>
                                    </f:if>
                                </f:for>
                            </div>
                        </section>
                        <!--TYPO3SEARCH_begin-->
                        <hr class="line-lg">
                    </f:if>
                    </f:if>
                    <f:if condition="{mode} == 'single' ">
                        <!--TYPO3SEARCH_end-->
                        <section id="categories-section" class="categories-section">
                            <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:service.detail.categories" arguments="{ 0: service.title}"></f:translate> </h1>

                            <div class="row">
                                <f:for each="{service.categories}" as="category">

                                        <div class="col-xs-12 col-sm-6">
                                            <f:link.page pageUid="{category.singlePid}" >
                                                <article class="option-item  section-active bg-gray">
                                                    <div class="service-item">
                                                        <div class="heading-md">
                                                            <h3>{category.title}</h3>
                                                        </div>
                                                        <ul class="custom-list">
                                                                <li>{category.description}</li>
                                                        </ul>
                                                    </div>
                                                </article>
                                            </f:link.page>
                                        </div>

                                </f:for>
                            </div>
                        </section>
                        <!--TYPO3SEARCH_begin-->
                        <hr class="line-lg">
                    </f:if>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="sidebar-fixed">
                    <aside id="sidebar">
                        <div class="sidebar-fixed">
                            <f:if condition="{service.tags}">
                                <div class="widget-box widget-box-fixed">
                                    <div class="heading-sm">
                                        <strong class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:tags.title"></f:translate></strong>
                                    </div>
                                    <f:render partial="Tags/Item" arguments="{tags: service.tags}" />
                                </div>
                            </f:if>

                        <f:if condition="{service.colleges -> f:count()} > 0">
                            <div class="widget-box">
                                <div class="heading-sm block-fade-out">
                                    <strong class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:news.college"></f:translate></strong>
                                </div>
                                <f:for each="{service.colleges}" as="college">
                                    <div class="personal-info">
                                        <div class="foto-box">
                                            <img src="/uploads/pics/{college.firstImage}" alt="{college.name}" width="152" height="152">
                                        </div>
                                        <div class="description-box">
                                            <strong class="name"><a href="#">{college.name}</a></strong>
                                            <span class="position">{college.position}</span>
                                            <hr class="line-sm">
                                            <ul class="contact-items">
                                                <f:if condition="{college.telephone}">
                                                <li>
                                                    <a href="tel:+<t:phone phone='{college.telephone}'></t:phone>" class="tel">+{college.telephone}</a>
                                                </li>
                                                </f:if>
                                                <li>
                                                    <a href="mailto:{college.email}" class="email">{college.email}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>

                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <f:if condition="{service.ordering} == 0">
                <f:if condition="{items -> f:count()} >= 1">
                    <!--TYPO3SEARCH_end-->
                    <section id="more-info-section" class="more-info-section">
                        <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:services.more"></f:translate></h1>
                        <div class="cycle-gallery">
                            <div class="cycle-gallery-holder">
                                <div class="mask">
                                    <div class="slideset gallery-more-box">

                                        <f:for each="{items}" as="item">
                                            <f:render partial="{item.0}/Item" arguments="{objects: item.1, category: item.2}" />
                                        </f:for>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </section>
                    <!--TYPO3SEARCH_begin-->
                </f:if>
                </f:if>
                <f:if condition="{service.ordering} == 1">
                    <f:if condition="{services -> f:count()} > 1 ">
                        <!--TYPO3SEARCH_end-->
                        <section id="services-section" class="services-section">
                            <h1><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:services.service"></f:translate> "{category.0.title}"</h1>
                            <div class="content-lg">
                                <p>{service.label}</p>
                            </div>
                            <div class="row">
                                <f:for each="{services}" as="object">
                                    <f:if condition="{object.uid} != {service.uid}">
                                        <div class="col-xs-12 col-sm-6">
                                            <f:link.action  arguments="{service: object}" action="showService">
                                                <article class="option-item  section-active bg-gray">
                                                    <div class="service-item">
                                                        <div class="heading-md">
                                                            <h3>{object.title}</h3>
                                                        </div>
                                                        <ul class="custom-list">
                                                            <f:for each="{object.teaser}" as="teaser">
                                                                <li>{teaser}</li>
                                                            </f:for>
                                                        </ul>
                                                    </div>
                                                </article>
                                            </f:link.action>
                                        </div>
                                    </f:if>
                                </f:for>
                            </div>
                        </section>
                        <!--TYPO3SEARCH_begin-->
                    </f:if>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>