<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="default" />
<f:section name="main">
    <div class="widget-box">
    <div class="heading-sm"><strong class="title"><f:translate key="LLL:fileadmin/lang/{f:cObject(typoscriptObjectPath: 'lib.language')}.locallang.xlf:tags.title"></f:translate></strong> </div>
    <ul class="solutions-list">
    <f:for each="{tags}" as="tag">
        <li>
        <a href='<f:uri.page pageUid="{tag.link}"/>'  class="btn btn-stand">{tag.title}</a>
        </li>
    </f:for>
    </ul>
    </div>
</f:section>
</html>